<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.Numerics" #>
<#@ include file="Common.t4"#>
<#@ output extension=".cs" #>
<#
    const string SuffixSse41 = "Sse41";
    const string SuffixAvx2 = "Avx2";
    const string SuffixIfma = "Ifma";
    const string SuffixIfmaV256 = "IfmaV256";
    const string SuffixIfmaV512 = "IfmaV512";

    const bool TestSse41OverAvx2 = false;
    var c = Enumerable.Range(1, 32);
    List<FlacLinearPredictionVariantInfo> lowOrderVariants = [
        /*(52, 64, 0x3440_0003_e017_0000ul, $"52{SuffixIfmaV512}"),*/
        new (0x4040_0003_801f_0000ul, $"64{SuffixSse41}")
    ];
    List<FlacLinearPredictionVariantInfo> highOrderVariants = [
        new (0x2020_0003_801f_0000ul, $"32{SuffixSse41}"),
        /*(52, 64, 0x3440_0003_e017_0000ul, $"52{SuffixIfmaV512}"),*/
        new (0x4040_0003_801f_0000ul, $"64{SuffixSse41}"),
    ];
    var orderConfig = new Dictionary<int, List<FlacLinearPredictionVariantInfo>>() {
        {1, [StandardVariatntInfo]},
    };
    for (int i = 2; i <= 3; i++)
    {
        orderConfig[i] = [StandardVariatntInfo];
    }
    for (int i = 4; i <= 10; i++)
    {
        orderConfig[i] = lowOrderVariants;
    }

    var names32 = c.Select(f => {
        var config = orderConfig.TryGetValue(f, out var c) ? c : highOrderVariants;
        var generate = config.Any(a => a.VariantId == 0x2020_0003_801f_0000ul);
        var callee = config.First(a => a.MultiplyBitsRequired >= 32);
        var order = callee.GetOrderOverride(f);
        return (Order: order, generate, callee);
    }).DistinctBy(a => a.Order).OrderBy(a => a.Order).ToList();

    var names64 = c.Select(f => {
        var config = orderConfig.TryGetValue(f, out var c) ? c : highOrderVariants;
        var generate = config.Any(a => a.VariantId == 0x4040_0003_801f_0000ul);
        var callee = config.First(a => a.MultiplyBitsRequired >= 64);
        var order = callee.GetOrderOverride(f);
        return (Order: order, generate, callee);
    }).DistinctBy(a => a.Order).OrderBy(a => a.Order).ToList();

    const string NegativeDebugFlagDescription = "Unsafe.AsPointer<T>(ref T) should only be used in Release mode.";
#>
// <auto-generated />

#region License notice

/* libFLAC - Free Lossless Audio Codec library
 * Copyright (C) 2000-2009  Josh Coalson
 * Copyright (C) 2011-2018  Xiph.Org Foundation
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions
 * are met:
 *
 * - Redistributions of source code must retain the above copyright
 * notice, this list of conditions and the following disclaimer.
 *
 * - Redistributions in binary form must reproduce the above copyright
 * notice, this list of conditions and the following disclaimer in the
 * documentation and/or other materials provided with the distribution.
 *
 * - Neither the name of the Xiph.org Foundation nor the names of its
 * contributors may be used to endorse or promote products derived from
 * this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 * ``AS IS'' AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 * LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 * A PARTICULAR PURPOSE ARE DISCLAIMED.  IN NO EVENT SHALL THE FOUNDATION OR
 * CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
 * EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
 * PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
 * PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
 * LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
 * NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 * SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

#endregion License notice

using System;
using System.Collections.Generic;
using System.Linq;
using System.Runtime.CompilerServices;
using System.Runtime.InteropServices;
using System.Runtime.Intrinsics;
using System.Runtime.Intrinsics.X86;
using System.Text;
using System.Threading.Tasks;

namespace Shamisen.Codecs.Flac.SubFrames
{
    public sealed partial class FlacLinearPredictionSubFrame
    {
        internal static partial class X86
        {
            internal static bool IsSupported => (Avx512F.IsSupported && Avx512F.VL.IsSupported) || Avx2.IsSupported || Sse41.IsSupported;
            internal static bool IsSse41Supported => Sse41.IsSupported;

            [MethodImpl(MethodImplOptions.AggressiveInlining)]
            internal static void RestoreSignal(in RestoreParameters parameters)
            {
                if (Avx512F.IsSupported && Avx512F.VL.IsSupported)
                {
                    RestoreSignalAvx512FVL(in parameters);
                    return;
                }
                if (Avx2.IsSupported<#=(TestSse41OverAvx2 ? " && !Sse41.IsSupported" : "")#>)
                {
                    RestoreSignalAvx2(in parameters);
                    return;
                }
                RestoreSignalSse41(in parameters);
            }

            [MethodImpl(MethodImplOptions.AggressiveInlining)]
            internal static void RestoreSignalSse41(in RestoreParameters parameters)
            {
                switch (parameters.AccumulatorBitsRequired)
                {
                    case <= 32:
                        RestoreSignal32Sse41(in parameters);
                        return;
                    case <= 64:
                        RestoreSignal64Sse41(in parameters);
                        return;
                    default:
                        throw new FlacException("Invalid FLAC stream!");
                }
            }

            [MethodImpl(MethodImplOptions.AggressiveInlining | MethodImplOptions.AggressiveOptimization)]
            internal static void RestoreSignal32Sse41(in RestoreParameters parameters)
            {
                switch (parameters.PredictorOrder)
                {
<#  foreach (var item in names32)
    {#>
                    case <#=item.Order#>:
<#      var lines = item.callee.WriteCall("parameters.MultiplyBitsRequired", "parameters.AccumulatorBitsRequired", item.Order);
        foreach (var line in lines)
        {#>
                        <#=line#>
<#      }#>
                        return;
<#  }#>
                    default:
                        throw new FlacException("Invalid FLAC stream!");
                }
            }

            [MethodImpl(MethodImplOptions.AggressiveInlining | MethodImplOptions.AggressiveOptimization)]
            internal static void RestoreSignal64Sse41(in RestoreParameters parameters)
            {
                switch (parameters.PredictorOrder)
                {
<#  foreach (var item in names64){#>
                    case <#=item.Order#>:
<#
        var lines = item.callee.WriteCall("parameters.MultiplyBitsRequired", "parameters.AccumulatorBitsRequired", item.Order);
        foreach (var line in lines)
        {#>
                        <#=line#>
<#      }#>
                        return;
<#  }#>
                    default:
                        throw new FlacException("Invalid FLAC stream!");
                }
            }
<#  foreach (var item in names32)
    {
        int j;
        if (item.generate)
        {
            var scalarOrder = 2;
            var vectorizedOrder = item.Order - scalarOrder;
            var orderO4 = vectorizedOrder / 4;
            var orderM4 = vectorizedOrder % 4;
            var maxVs = orderO4 + (orderM4 > 0 ? 1 : 0);
            var mvm1 = maxVs - 1;
#>

            [MethodImpl(MethodImplOptions.AggressiveOptimization)]
            internal static unsafe void RestoreSignal32Sse41Order<#=item.Order#>(in RestoreParameters parameters)
            {
                const int Order = <#=item.Order#>;
                var coeffs = parameters.Coefficients;
                ref var c = ref MemoryMarshal.GetReference(coeffs);
                _ = coeffs[Order - 1];
                var shiftsNeeded = parameters.ShiftsNeeded;
                var output = parameters.Output;
                ref var o = ref MemoryMarshal.GetReference(output);
                ref var d = ref Unsafe.Add(ref o, Order);
                var vzero = Vector128<int>.Zero;
                int sum0 = 0, sum1 = 0;
                Vector128<int> <#=string.Join(", ", Enumerable.Range(0, maxVs).Select(a=>$"vsum{a} = vzero"))#>;
                nint dataLength = output.Length - Order;
<#          for (j = 0; j < scalarOrder; j++)
            {#>
                int coeff<#=j#> = Unsafe.Add(ref c, <#=j#>);
<#          }
            for(j = 0; j < orderO4; j++)
            {#>
                var vcoeff<#=j#> = Unsafe.As<int, Vector128<int>>(ref Unsafe.Add(ref c, <#=j * 4 + scalarOrder#>));
<#          }
            var offset = orderO4 * 4 + scalarOrder;
            if (orderM4 > 0)
            {#>
                var vcoeff<#=mvm1#> = vzero;
                if (coeffs.Length - <#=offset#> >= Vector128<int>.Count)
                {
                    vcoeff<#=mvm1#> = Unsafe.As<int, Vector128<int>>(ref Unsafe.Add(ref c, <#=offset#>));
                }
                else
                {
                    if (Order >= Vector128<int>.Count && coeffs.Length >= Vector128<int>.Count)
                    {
                        var shiftIndices = Vector128<sbyte>.Indices + Vector128.Create((sbyte)(sizeof(int) * (4 - <#=orderM4#>)));
                        shiftIndices |= Sse2.CompareGreaterThan(shiftIndices, Vector128.Create((sbyte)15));
                        var loadLow = Unsafe.As<int, Vector128<int>>(ref Unsafe.Add(ref c, Order - Vector128<int>.Count));
                        vcoeff<#=mvm1#> = Ssse3.Shuffle(loadLow.AsSByte(), shiftIndices).AsInt32();
                    }
                    else
                    {
                        var extraOrder = Order - <#=offset#>;
                        if ((extraOrder & 1) > 0)
                        {
                            vcoeff<#=mvm1#> = Vector128.CreateScalar(Unsafe.Add(ref c, Order - 1)).AsInt32();
                        }
                        if (extraOrder > 1)
                        {
                            var loadLow = Vector128.CreateScalar(Unsafe.As<int, ulong>(ref Unsafe.Add(ref c, <#=offset#>))).AsInt32();
                            if (extraOrder > 2)
                            {
                                loadLow = Sse.Shuffle(loadLow.AsSingle(), vcoeff<#=mvm1#>.AsSingle(), 0b11_00_01_00).AsInt32();
                            }
                            vcoeff<#=mvm1#> = loadLow;
                        }
                    }
                }
<#          }#>

                Vector128<int> prodHigh = vzero, prodLow = vzero;
                int nlast = 0;
                var vlast = Vector128.Create(Unsafe.Add(ref o, 0));
                vsum<#=mvm1#> = Sse41.MultiplyLow(vcoeff<#=mvm1#>, vlast.AsInt32());
                var sum2 = vsum0.GetElement(0);
                for (var i = 1; i < Order; i++)
                {
                    nlast = Unsafe.Add(ref o, i);
                    vlast = Vector128.Create(nlast);
                    sum0 = sum1 + nlast * coeff0;
                    sum1 = sum2 + nlast * coeff1;
<#          for (j = 0; j < maxVs; j++)
            {
                var isLastOneCoeff = j + 1 >= maxVs && orderM4 == 1;
                if (!isLastOneCoeff)
                {#>
                    prodHigh = Sse2.Shuffle(vcoeff<#=j#>, 0b11_11_01_01);
                    prodHigh = Sse41.Multiply(prodHigh.AsInt32(), vlast).AsInt32();
<#              }#>
                    prodLow = Sse41.Multiply(vcoeff<#=j#>.AsInt32(), vlast).AsInt32();
<#              if (!isLastOneCoeff)
                {#>
                    prodHigh = Sse2.Shuffle(prodHigh, 0b10_11_00_01);
<#              }
                if (j + 1 < maxVs)
                {#>
                    vsum<#=j#> = Ssse3.AlignRight(vsum<#=j + 1#>, vsum<#=j#>, 4);
<#              }
                else if (!isLastOneCoeff)
                {#>
                    vsum<#=j#> = Ssse3.AlignRight(vzero, vsum<#=j#>, 4);
<#              }#>
<#              if (!isLastOneCoeff)
                {#>
                    prodLow = Sse41.Blend(prodLow.AsSingle(), prodHigh.AsSingle(), 0b1010).AsInt32();
<#              }#>
                    vsum<#=j#> <#=isLastOneCoeff ? "" : "+"#>= prodLow;
<#              if (j == 0)
                {#>
                    sum2 = vsum0.GetElement(0);
<#              }
            }#>
                }
                var eax = sum0 >> shiftsNeeded;
                for (nint i = 0; i < dataLength; i++)
                {
                    var res = Unsafe.Add(ref d, i);
                    eax += res;
                    nlast = eax;
                    Unsafe.Add(ref d, i) = eax;
                    vlast = Vector128.Create(nlast).AsInt32();
                    sum0 = sum1 + nlast * coeff0;
                    eax = sum0 >> shiftsNeeded;
                    sum1 = sum2 + nlast * coeff1;
<#          for (j = 0; j < maxVs; j++)
            {
                var isLastOneCoeff = j + 1 >= maxVs && orderM4 == 1;
                if (!isLastOneCoeff)
                {#>
                    prodHigh = Sse2.Shuffle(vcoeff<#=j#>, 0b11_11_01_01);
                    prodHigh = Sse41.Multiply(prodHigh.AsInt32(), vlast).AsInt32();
<#              }#>
                    prodLow = Sse41.Multiply(vcoeff<#=j#>.AsInt32(), vlast).AsInt32();
<#              if (!isLastOneCoeff)
                {#>
                    prodHigh = Sse2.Shuffle(prodHigh, 0b10_11_00_01);
<#              }
                if (j + 1 < maxVs)
                {#>
                    vsum<#=j#> = Ssse3.AlignRight(vsum<#=j + 1#>, vsum<#=j#>, 4);
<#              }
                else if (!isLastOneCoeff)
                {#>
                    vsum<#=j#> = Ssse3.AlignRight(vzero, vsum<#=j#>, 4);
<#              }#>
<#              if (!isLastOneCoeff)
                {#>
                    prodLow = Sse41.Blend(prodLow.AsSingle(), prodHigh.AsSingle(), 0b1010).AsInt32();
<#              }#>
                    vsum<#=j#> <#=isLastOneCoeff ? "" : "+"#>= prodLow;
<#              if (j == 0)
                {#>
                    sum2 = vsum0.GetElement(0);
<#              }
            }#>
                }
            }

<#      }
    }
    foreach (var item in names64)
    {
        if (item.generate)
        {
            var scalarOrder = 2;
            var vectorizedOrder = item.Order - scalarOrder;
            int j;
            var orderO2 = vectorizedOrder / 2;
            var orderM2 = vectorizedOrder % 2;
            var maxVs = orderO2 + (orderM2 > 0 ? 1 : 0);
            var mvm1 = maxVs - 1;
#>

            [MethodImpl(MethodImplOptions.AggressiveOptimization)]
            internal static unsafe void RestoreSignal64Sse41Order<#=item.Order#>(in RestoreParameters parameters)
            {
                const int Order = <#=item.Order#>;
                var coeffs = parameters.Coefficients;
                ref var c = ref MemoryMarshal.GetReference(coeffs);
                _ = coeffs[Order - 1];
                var shiftsNeeded = parameters.ShiftsNeeded;
                var output = parameters.Output;
                ref var o = ref MemoryMarshal.GetReference(output);
                ref var d = ref Unsafe.Add(ref o, Order);

                var vzero = Vector128<long>.Zero;
                long sum0 = 0, sum1 = 0;
                int dataLength = output.Length - Order;
                Vector128<long> <#=string.Join(", ", Enumerable.Range(0, maxVs).Select(a=>$"vsum{a} = default"))#>;
                Vector128<long> prod;
<#          for (j = 0; j < scalarOrder; j++)
            {#>
                long coeff<#=j#> = Unsafe.Add(ref c, <#=j#>);
<#          }
            for(j = 0; j < orderO2; j++)
            {#>
                var vcoeff<#=j#> = Sse41.ConvertToVector128Int64(Vector128.CreateScalarUnsafe(Unsafe.As<int, ulong>(ref Unsafe.Add(ref c, <#=j * 2 + scalarOrder#>))).AsUInt32()).AsInt32();
<#          }
            var offset = orderO2 * 2 + scalarOrder;
            if (orderM2 > 0)
            {#>
                var vcoeff<#=mvm1#> = vzero.AsInt32();
                if (coeffs.Length - <#=offset#> >= Vector128<long>.Count)
                {
                    vcoeff<#=mvm1#> = Sse41.ConvertToVector128Int64(Vector128.CreateScalarUnsafe(Unsafe.As<int, ulong>(ref Unsafe.Add(ref c, <#=offset#>))).AsUInt32()).AsInt32();
                }
                else
                {
                    vcoeff<#=mvm1#> = Vector128.CreateScalar(Unsafe.Add(ref c, Order - 1));
                }
<#              }#>
                long nlast = 0;
                var vlast = Vector128.Create(Unsafe.Add(ref o, 0));
                vsum<#=mvm1#> = Sse41.Multiply(vcoeff<#=mvm1#>, vlast);
                var sum2 = vsum0.GetElement(0);
                for (var i = 1; i < Order; i++)
                {
                    nlast = Unsafe.Add(ref o, i);
                    vlast = Vector128.Create(nlast).AsInt32();
                    sum0 = sum1 + nlast * coeff0;
                    sum1 = sum2 + nlast * coeff1;
<#          for (j = 0; j < maxVs; j++)
            {
                var isLastOneCoeff = j + 1 >= maxVs && orderM2 == 1;
#>
                    prod = Sse41.Multiply(vcoeff<#=j#>, vlast);
<#              if (j + 1 < maxVs)
                {#>
                    vsum<#=j#> = Ssse3.AlignRight(vsum<#=j + 1#>, vsum<#=j#>, 8);
<#              }
                else if (!isLastOneCoeff)
                {#>
                    vsum<#=j#> = Ssse3.AlignRight(vzero, vsum<#=j#>, 8);
<#              }#>
                    vsum<#=j#> <#=isLastOneCoeff ? "" : "+"#>= prod;
<#              if (j == 0)
                {#>
                    sum2 = vsum0.GetElement(0);
<#              }
            }#>
                }
                var rax = sum0 >> shiftsNeeded;
                for (nint i = 0; i < dataLength; i++)
                {
                    var res = Unsafe.Add(ref d, i);
                    rax += res;
                    nlast = rax;
                    Unsafe.Add(ref d, i) = (int)rax;
                    vlast = Vector128.Create(nlast).AsInt32();
                    sum0 = sum1 + nlast * coeff0;
                    rax = sum0 >> shiftsNeeded;
                    sum1 = sum2 + nlast * coeff1;
<#          for (j = 0; j < maxVs; j++)
            {
                var isLastOneCoeff = j + 1 >= maxVs && orderM2 == 1;
#>
                    prod = Sse41.Multiply(vcoeff<#=j#>, vlast);
<#              if (j + 1 < maxVs)
                {#>
                    vsum<#=j#> = Ssse3.AlignRight(vsum<#=j + 1#>, vsum<#=j#>, 8);
<#              }
                else if (!isLastOneCoeff)
                {#>
                    vsum<#=j#> = Ssse3.AlignRight(vzero, vsum<#=j#>, 8);
<#              }#>
                    vsum<#=j#> <#=isLastOneCoeff ? "" : "+"#>= prod;
<#              if (j == 0)
                {#>
                    sum2 = vsum0.GetElement(0);
<#              }
            }#>
                }
            }
<#      }
    }#>
        }
    }
}