<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.Numerics" #>
<#@ include file="Common.t4"#>
<#@ output extension=".cs" #>
<#

    const string SuffixSse41 = "Sse41";
    const string SuffixAvx2 = "Avx2";
    const string SuffixIfma = "Ifma";
    const string SuffixIfmaV256 = "IfmaV256";
    const string SuffixIfmaV512 = "IfmaV512";

    const bool TestSse41OverAvx2 = false;
    var c = Enumerable.Range(1, 32);
    List<FlacLinearPredictionVariantInfo> lowOrderVariants = [
        /*(52, 64, 0x3440_0003_e017_0000ul, $"52{SuffixIfmaV512}"),*/
        new(0x4040_0003_d000_0000ul, $"64{SuffixAvx2}")
    ];
    List<FlacLinearPredictionVariantInfo> highOrderVariants = [
        new (0x2020_0003_d000_0000ul, $"32{SuffixAvx2}"),
        /*(52, 64, 0x3440_0003_e017_0000ul, $"52{SuffixIfmaV512}"),*/
        new (0x4040_0003_d000_0000ul, $"64{SuffixAvx2}"),
    ];
    var orderConfig = new Dictionary<int, List<FlacLinearPredictionVariantInfo>>() {
        {1, [StandardVariatntInfo]},
    };
    for (int i = 2; i <= 20; i++)
    {
        orderConfig[i] = lowOrderVariants;
    }

    var names = c.Select(f => {
        var config = orderConfig.TryGetValue(f, out var c) ? c : highOrderVariants;
        var generate32 = config.Any(a => a.VariantId == 0x2020_0003_d000_0000ul);
        var generate64 = config.Any(a => a.VariantId == 0x4040_0003_d000_0000ul);
        var callee32 = config.First(a => a.MultiplyBitsRequired >= 32);
        var callee64 = config.First(a => a.MultiplyBitsRequired >= 64);
        return (Order: f, generate32, generate64, callee32, callee64);
    }).ToList();

    const string NegativeDebugFlagDescription = "Unsafe.AsPointer<T>(ref T) should only be used in Release mode.";
#>
// <auto-generated />

using System;
using System.Collections.Generic;
using System.Linq;
using System.Runtime.CompilerServices;
using System.Runtime.InteropServices;
using System.Runtime.Intrinsics;
using System.Runtime.Intrinsics.X86;
using System.Text;
using System.Threading.Tasks;

namespace Shamisen.Codecs.Flac.SubFrames
{
    public sealed partial class FlacLinearPredictionSubFrame
    {
        internal static partial class X86
        {
            [MethodImpl(MethodImplOptions.AggressiveInlining | MethodImplOptions.AggressiveOptimization)]
            internal static void RestoreSignalAvx2(int shiftsNeeded, int accumulatorBitsRequired, ReadOnlySpan<int> residual, ReadOnlySpan<int> coeffs, Span<int> output)
            {
                switch (accumulatorBitsRequired)
                {
                    case <= 32 when !Avx512F.IsSupported && !Avx10v1.IsSupported:
                        RestoreSignal32Avx2(shiftsNeeded, residual, coeffs, output);
                        return;
                    case <= 64:
                        RestoreSignal64Avx2(shiftsNeeded, residual, coeffs, output);
                        return;
                    default:
                        throw new FlacException("Invalid FLAC stream!");
                }
            }
            
            [MethodImpl(MethodImplOptions.AggressiveInlining | MethodImplOptions.AggressiveOptimization)]
            internal static void RestoreSignal32Avx2(int shiftsNeeded, ReadOnlySpan<int> residual, ReadOnlySpan<int> coeffs, Span<int> output)
            {
                var order = coeffs.Length;
                switch (order)
                {
<#  foreach(var item in names){#>
                    case <#=item.Order#>:
<#
        var lines = item.callee32.WriteCall("32", "32", item.Order);
        foreach (var line in lines)
        {#>
                        <#=line#>
<#      }#>
                        return;
<#  }#>
                    default:
                        throw new FlacException("Invalid FLAC stream!");
                }
            }
            
            [MethodImpl(MethodImplOptions.AggressiveInlining | MethodImplOptions.AggressiveOptimization)]
            internal static void RestoreSignal64Avx2(int shiftsNeeded, ReadOnlySpan<int> residual, ReadOnlySpan<int> coeffs, Span<int> output)
            {
                var order = coeffs.Length;
                switch (order)
                {
<#  foreach(var item in names){#>
                    case <#=item.Order#>:
<#
        var lines = item.callee64.WriteCall("64", "64", item.Order);
        foreach (var line in lines)
        {#>
                        <#=line#>
<#      }#>
                        return;
<#  }#>
                    default:
                        throw new FlacException("Invalid FLAC stream!");
                }
            }

            [MethodImpl(MethodImplOptions.AggressiveInlining | MethodImplOptions.AggressiveOptimization)]
            internal static unsafe delegate* managed<int, ReadOnlySpan<int>, ReadOnlySpan<int>, Span<int>, void> GetRestoreSignalFunctionPointerAvx2(int order) => order switch
            {
<#  foreach(var item in names){#>
                <#=item.Order#> => &<#=$"RestoreSignal{item.callee32.Name}Order{item.Order}"#>,
<#  }#>
                _ => null
            };
<#
    foreach (var item in names)
    {
        int jmax = item.Order + (item.Order & 1) - 2;
        int jmax2 = item.Order - 2;
        int j;
        if (item.generate32)
        {
            var orderO8 = item.Order / 8;
            var orderM8 = item.Order % 8;
            var maxVs = orderO8 + (orderM8 > 0 ? 1 : 0);
#>

            [MethodImpl(MethodImplOptions.AggressiveOptimization)]
            internal static unsafe void RestoreSignal32Avx2Order<#=item.Order#>(int shiftsNeeded, ReadOnlySpan<int> residual, ReadOnlySpan<int> coeffs, Span<int> output)
            {
                const int Order = <#=item.Order#>;
                if(coeffs.Length < Order) return;
                _ = coeffs[Order - 1];
                var vshift = Vector128.CreateScalar((uint)shiftsNeeded);
                var vzero = Vector128<int>.Zero;
                var vzero256 = vzero.ToVector256Unsafe();
                Vector256<int> <#=string.Join(", ", Enumerable.Range(0, maxVs).Select(a=>$"sum{a} = default"))#>;
                ref var c = ref MemoryMarshal.GetReference(coeffs);
                ref var o = ref MemoryMarshal.GetReference(output);
                ref var d = ref Unsafe.Add(ref o, Order);
                int dataLength = output.Length - Order;
                ref var r = ref MemoryMarshal.GetReference(residual);
                var permShift = Vector256.Create(1, 2, 3, 4, 5, 6, 7, 0);
                Vector256<int> prodHigh = default, prodLow = default;
<#      
            var mvm1 = maxVs - 1;
            for (j = 0; j < orderO8; j++)
            {
#>
                var vcoeff<#=j#> = Unsafe.As<int, Vector256<int>>(ref Unsafe.Add(ref c, <#=j * 8#>));
<#
            }
            switch (orderM8)
            {
                case 1:#>
                var vcoeff<#=mvm1#> = Vector256.CreateScalar(Unsafe.Add(ref c, <#=item.Order - 1#>));
<#                  break;
                case 2:#>
                var vcoeff<#=mvm1#> = Vector256.CreateScalar(Unsafe.As<int, ulong>(ref Unsafe.Add(ref c, <#=item.Order - 2#>))).AsInt32();
<#                  break;
                case 3:#>
                var vcoeff<#=mvm1#> = Sse2.ShiftRightLogical128BitLane(Unsafe.As<int, Vector128<int>>(ref Unsafe.Add(ref c, <#=item.Order - 4#>)), 4).ToVector256Unsafe();
<#                  break;
                case 4:#>
                var vcoeff<#=mvm1#> = Unsafe.As<int, Vector128<int>>(ref Unsafe.Add(ref c, <#=item.Order - 4#>)).ToVector256Unsafe();
<#                  break;
                case 5:#>
                var vcoeff<#=mvm1#> = Avx2.Blend(Avx2.PermuteVar8x32(Unsafe.As<int, Vector256<int>>(ref Unsafe.Add(ref c, <#=item.Order - 8#>)), Vector256.Create(3,4,5,6,7,0,1,2)), vzero256, 0b1110_0000);
<#                  break;
                case 6:#>
                var vcoeff<#=mvm1#> = Avx2.Blend(Avx2.PermuteVar8x32(Unsafe.As<int, Vector256<int>>(ref Unsafe.Add(ref c, <#=item.Order - 8#>)), Vector256.Create(2,3,4,5,6,7,0,1)), vzero256, 0b1100_0000);
<#                  break;
                case 7:#>
                var vcoeff<#=mvm1#> = Avx2.Blend(Avx2.PermuteVar8x32(Unsafe.As<int, Vector256<int>>(ref Unsafe.Add(ref c, <#=item.Order - 8#>)), Vector256.Create(1,2,3,4,5,6,7,0)), vzero256, 0b1000_0000);
<#                  break;
                default:
                    break;
            }
#>
                var vlast = Vector256.Create((uint)Unsafe.Add(ref o, 0));
                sum<#=mvm1#> = Avx2.MultiplyLow(vcoeff<#=mvm1#>, vlast.AsInt32());
<#          if (mvm1 > 0)
            {#>
                //sum<#=mvm1 - 1#> = Avx2.Blend(sum<#=mvm1 - 1#>, sum<#=mvm1#>, 0b1000_0000);
<#          }
            int jmaxA2N_1 = item.Order - 7;
            int jmaxA2N_2 = item.Order - 8;
#>
                for (var i = 1; i < Order; i++)
                {
                    vlast = Vector256.Create((uint)Unsafe.Add(ref o, i));
                    sum0 = Avx2.PermuteVar8x32(sum0, permShift);
<#          for (j = 0; j < maxVs; j++)
            {
#>
                    prodHigh = Avx2.Shuffle(vcoeff<#=j#>, 0b11_11_01_01);
                    prodHigh = Avx2.Multiply(prodHigh.AsUInt32(), vlast).AsInt32();
                    prodLow = Avx2.Multiply(vcoeff<#=j#>.AsUInt32(), vlast).AsInt32();
                    prodHigh = Avx2.Shuffle(prodHigh, 0b10_11_00_01);
<#              if (j + 1 < maxVs)
                {#>
                    sum<#=j + 1#> = Avx2.PermuteVar8x32(sum<#=j + 1#>, permShift);
                    sum<#=j#> = Avx2.Blend(sum<#=j#>, sum<#=j + 1#>, 0b1000_0000);
<#              }
                else
                {#>
                    sum<#=j#> = Avx2.Blend(sum<#=j#>, vzero256, 0b1000_0000);
<#              }
#>
                    prodLow = Avx2.Blend(prodLow, prodHigh, 0b1010_1010);
                    sum<#=j#> += prodLow;
<#          }#>
                }
                var xmm0 = Avx2.ShiftRightArithmeticVariable(sum0.GetLower(), vshift);
                for (nint i = 0; i < dataLength; i++)
                {
                    var res = Vector128.CreateScalarUnsafe(Unsafe.Add(ref r, i));
                    xmm0 += res;
                    Unsafe.Add(ref d, i) = xmm0.GetElement(0);
                    vlast = Avx2.BroadcastScalarToVector256(xmm0).AsUInt32();
                    sum0 = Avx2.PermuteVar8x32(sum0, permShift);
<#          for (j = 0; j < maxVs; j++)
            {
#>
                    prodHigh = Avx2.Shuffle(vcoeff<#=j#>, 0b11_11_01_01);
                    prodHigh = Avx2.Multiply(prodHigh.AsUInt32(), vlast).AsInt32();
                    prodLow = Avx2.Multiply(vcoeff<#=j#>.AsUInt32(), vlast).AsInt32();
                    prodHigh = Avx2.Shuffle(prodHigh, 0b10_11_00_01);
<#              if (j + 1 < maxVs)
                {
#>
                    sum<#=j + 1#> = Avx2.PermuteVar8x32(sum<#=j + 1#>, permShift);
                    sum<#=j#> = Avx2.Blend(sum<#=j#>, sum<#=j + 1#>, 0b1000_0000);
<#              }
                else
                {#>
                    sum<#=j#> = Avx2.Blend(sum<#=j#>, vzero256, 0b1000_0000);
<#              }
#>
                    prodLow = Avx2.Blend(prodLow, prodHigh, 0b1010_1010);
                    sum<#=j#> += prodLow;
<#              if (j == 0)
                {
#>
                    xmm0 = Avx2.ShiftRightArithmeticVariable(sum0.GetLower(), vshift);
<#              }
            }
#>
                }
            }
<#      }
        if (item.generate64)
        {
            var orderO4 = item.Order / 4;
            var orderM4 = item.Order % 4;
            var maxVs = orderO4 + (orderM4 > 0 ? 1 : 0);
#>

            [MethodImpl(MethodImplOptions.AggressiveOptimization)]
            internal static unsafe void RestoreSignal64Avx2Order<#=item.Order#>(int shiftsNeeded, ReadOnlySpan<int> residual, ReadOnlySpan<int> coeffs, Span<int> output)
            {
                const int Order = <#=item.Order#>;
                if(coeffs.Length < Order) return;
                _ = coeffs[Order - 1];
                var vshift = Vector128.CreateScalar((ulong)shiftsNeeded);
                var vzero = Vector128<int>.Zero;
                var vzero256 = vzero.ToVector256Unsafe();
                Vector256<long> <#=string.Join(", ", Enumerable.Range(0, maxVs).Select(a=>$"sum{a} = default"))#>;
                ref var c = ref MemoryMarshal.GetReference(coeffs);
                ref var o = ref MemoryMarshal.GetReference(output);
                ref var d = ref Unsafe.Add(ref o, Order);
                int dataLength = output.Length - Order;
                ref var r = ref MemoryMarshal.GetReference(residual);
                const byte PermShift = 0b00_11_10_01;
                Vector256<long> prod = default;
<#      
            var mvm1 = maxVs - 1;
            for (j = 0; j < orderO4; j++)
            {
#>
                var vcoeff<#=j#> = Avx2.ConvertToVector256Int64(Unsafe.As<int, Vector128<uint>>(ref Unsafe.Add(ref c, <#=j * 4#>))).AsInt32();
<#
            }
            switch (orderM4)
            {
                case 1:#>
                var vcoeff<#=mvm1#> = Vector256.CreateScalarUnsafe((ulong)(uint)Unsafe.Add(ref c, <#=item.Order - 1#>)).AsInt32();
<#                  break;
                case 2:#>
                var vcoeff<#=mvm1#> = Sse41.ConvertToVector128Int64(Vector128.CreateScalarUnsafe(Unsafe.As<int, ulong>(ref Unsafe.Add(ref c, <#=item.Order - 2#>))).AsUInt32()).ToVector256Unsafe().AsInt32();
<#                  break;
                case 3:#>
                var vcoeff<#=mvm1#> = Avx2.ConvertToVector256Int64(Sse2.Shuffle(Unsafe.As<int, Vector128<uint>>(ref Unsafe.Add(ref c, <#=item.Order - 4#>)), 0b00_11_10_01)).AsInt32();
                vcoeff<#=mvm1#> = Avx.Blend(vcoeff<#=mvm1#>.AsDouble(), vzero256.AsDouble(), 0b1000).AsInt32();
<#                  break;
                default:
                    break;
            }
#>
                var vlast = Vector256.Create(Unsafe.Add(ref o, 0));
                sum<#=mvm1#> = Avx2.Multiply(vcoeff<#=mvm1#>, vlast);
                for (var i = 1; i < Order; i++)
                {
                    vlast = Vector256.Create(Unsafe.Add(ref o, i));
                    sum0 = Avx2.Permute4x64(sum0, PermShift);
<#          for (j = 0; j < maxVs; j++)
            {
#>
                    prod = Avx2.Multiply(vcoeff<#=j#>, vlast);
<#              if (j + 1 < maxVs)
                {#>
                    sum<#=j + 1#> = Avx2.Permute4x64(sum<#=j + 1#>, PermShift);
                    sum<#=j#> = Avx.Blend(sum<#=j#>.AsDouble(), sum<#=j + 1#>.AsDouble(), 0b1000).AsInt64();
<#              }
                else
                {#>
                    sum<#=j#> = Avx.Blend(sum<#=j#>.AsDouble(), vzero256.AsDouble(), 0b1000).AsInt64();
<#              }
#>
                    sum<#=j#> += prod;
<#          }#>
                }
                var xmm0 = Avx2.ShiftRightLogicalVariable(sum0.GetLower(), vshift).AsInt32();
                for (nint i = 0; i < dataLength; i++)
                {
                    var res = Vector128.CreateScalarUnsafe(Unsafe.Add(ref r, i));
                    xmm0 += res;
                    Unsafe.Add(ref d, i) = xmm0.GetElement(0);
                    vlast = Avx2.BroadcastScalarToVector256(xmm0);
                    sum0 = Avx2.Permute4x64(sum0, PermShift);
<#          for (j = 0; j < maxVs; j++)
            {
#>
                    prod = Avx2.Multiply(vcoeff<#=j#>, vlast);
<#              if (j + 1 < maxVs)
                {#>
                    sum<#=j + 1#> = Avx2.Permute4x64(sum<#=j + 1#>, PermShift);
                    sum<#=j#> = Avx.Blend(sum<#=j#>.AsDouble(), sum<#=j + 1#>.AsDouble(), 0b1000).AsInt64();
<#              }
                else
                {#>
                    sum<#=j#> = Avx.Blend(sum<#=j#>.AsDouble(), vzero256.AsDouble(), 0b1000).AsInt64();
<#              }
#>
                    sum<#=j#> += prod;
<#              if (j == 0)
                {
#>
                    xmm0 = Avx2.ShiftRightLogicalVariable(sum0.GetLower(), vshift).AsInt32();
<#              }
            }
#>
                }
            }
<#      }
    }#>
        }
    }
}