<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.Numerics" #>
<#@ include file="Common.t4"#>
<#@ output extension=".cs" #>
<#

    const string SuffixSse41 = "Sse41";
    const string SuffixAvx2 = "Avx2";
    const string SuffixAvx512FVL = "Avx512FVL";
    const string SuffixIfma = "Ifma";
    const string SuffixIfmaV256 = "IfmaV256";
    const string SuffixIfmaV512 = "IfmaV512";

    const bool TestSse41OverAvx2 = false;
    var c = Enumerable.Range(1, 32);
    List<FlacLinearPredictionVariantInfo> lowOrderVariants = [
        new(0x4040_0003_801f_0000ul, $"64{SuffixSse41}")
    ];
    List<FlacLinearPredictionVariantInfo> midOrderVariants = [
        /*(52, 64, 0x3440_0003_e017_0000ul, $"52{SuffixIfmaV512}"),*/
        new(0x4040_0003_e000_0001ul, $"64Alt{SuffixAvx512FVL}")
    ];
    List<FlacLinearPredictionVariantInfo> highOrderVariants = [
        /*(52, 64, 0x3440_0003_e017_0000ul, $"52{SuffixIfmaV512}"),*/
        new(0x4040_0003_e000_0000ul, $"64{SuffixAvx512FVL}"),
    ];
    var orderConfig = new Dictionary<int, List<FlacLinearPredictionVariantInfo>>() {
        {1, [StandardVariatntInfo]},
        {2, [StandardVariatntInfo]},
        {3, [StandardVariatntInfo]},
        {4, lowOrderVariants},
        {5, lowOrderVariants},
        {6, midOrderVariants},
        {7, lowOrderVariants},
    };
    var names = c.Select(f => {
        var config = orderConfig.TryGetValue(f, out var c) ? c : highOrderVariants;
        var generate64 = config.Any(a => a.VariantId == 0x4040_0003_e000_0000ul);
        var generate64Alt = config.Any(a => a.VariantId == 0x4040_0003_e000_0001ul);
        var callee64 = config.First(a => a.MultiplyBitsRequired >= 64);
        return (Order: f, generate64, generate64Alt, callee64);
    }).ToList();

    const string NegativeDebugFlagDescription = "Unsafe.AsPointer<T>(ref T) should only be used in Release mode.";
#>
// <auto-generated />

using System;
using System.Collections.Generic;
using System.Linq;
using System.Runtime.CompilerServices;
using System.Runtime.InteropServices;
using System.Runtime.Intrinsics;
using System.Runtime.Intrinsics.X86;
using System.Text;
using System.Threading.Tasks;

namespace Shamisen.Codecs.Flac.SubFrames
{
    public sealed partial class FlacLinearPredictionSubFrame
    {
        internal static partial class X86
        {
            internal static bool IsAvx512FVLSupported => Avx512F.IsSupported && Avx512F.VL.IsSupported;
            
            [MethodImpl(MethodImplOptions.AggressiveInlining | MethodImplOptions.AggressiveOptimization)]
            internal static void RestoreSignalAvx512FVL(in RestoreParameters parameters)
            {
                switch (parameters.PredictorOrder)
                {
<#  foreach(var item in names){#>
                    case <#=item.Order#>:
<#
        var lines = item.callee64.WriteCall("parameters.MultiplyBitsRequired", "parameters.AccumulatorBitsRequired", item.Order);
        foreach (var line in lines)
        {#>
                        <#=line#>
<#      }#>
                        return;
<#  }#>
                    default:
                        throw new FlacException("Invalid FLAC stream!");
                }
            }
<#
    foreach (var item in names)
    {
        int jmax = item.Order + (item.Order & 1) - 2;
        int jmax2 = item.Order - 2;
        int j;
        if (item.generate64)
        {
            var scalarOrder = 2;
            var vectorizedOrder = item.Order - scalarOrder;
            var orderO8 = vectorizedOrder / 8;
            var orderM8 = vectorizedOrder % 8;
            var maxVs = orderO8 + (orderM8 > 0 ? 1 : 0);
            var useLast256 = unchecked((uint)orderM8 - 1) < 4;
            var lastMultiplyInstruction = useLast256 ? "Avx2.Multiply" : "Avx512F.Multiply";
            var lastMultiplyVLastSuffix = useLast256 ? ".GetLower()" : "";
            var lastMultiplyInstructionSuffix = useLast256 ? ".ToVector512Unsafe()" : "";
#>

            [MethodImpl(MethodImplOptions.AggressiveOptimization)]
            internal static unsafe void RestoreSignal64Avx512FVLOrder<#=item.Order#>(in RestoreParameters parameters)
            {
                const int Order = <#=item.Order#>;
                var coeffs = parameters.Coefficients;
                ref var c = ref MemoryMarshal.GetReference(coeffs);
                _ = coeffs[Order - 1];
                var shiftsNeeded = parameters.ShiftsNeeded;
                var output = parameters.Output;
                ref var o = ref MemoryMarshal.GetReference(output);
                ref var d = ref Unsafe.Add(ref o, Order);

                var vzero = Vector128<long>.Zero;
                var vzero512 = vzero.ToVector256Unsafe().ToVector512Unsafe();
                long sum0 = 0, sum1 = 0;
                Vector512<long> <#=string.Join(", ", Enumerable.Range(0, maxVs).Select(a=>$"vsum{a} = default"))#>;
                int dataLength = output.Length - Order;
                Vector512<long> prod = default;
<#          var mvm1 = maxVs - 1;
            for (j = 0; j < scalarOrder; j++)
            {
#>
                long coeff<#=j#> = Unsafe.Add(ref c, <#=j#>);
<#          }
            for (j = 0; j < orderO8; j++)
            {
#>
                var vcoeff<#=j#> = Avx512F.ConvertToVector512UInt64(Unsafe.As<int, Vector256<uint>>(ref Unsafe.Add(ref c, <#=j * 8 + scalarOrder#>))).AsInt32();
<#          }
            switch (orderM8)
            {
                case 1:#>
                var vcoeff<#=mvm1#> = Vector256.CreateScalarUnsafe(Unsafe.Add(ref c, Order - 1)).AsInt32();
<#                  break;
                case 2:#>
                var vcoeff<#=mvm1#> = Sse41.ConvertToVector128Int64(Vector128.CreateScalarUnsafe(Unsafe.As<int, ulong>(ref Unsafe.Add(ref c, <#=item.Order - 2#>))).AsUInt32()).ToVector256Unsafe().AsInt32();
<#                  break;
                case 3 when item.Order >= 4:#>
                var vcoeff<#=mvm1#> = Avx2.ConvertToVector256Int64(Unsafe.As<int, Vector128<uint>>(ref Unsafe.Add(ref c, <#=item.Order - 4#>))).AsInt32();
                vcoeff<#=mvm1#> = Avx512F.VL.AlignRight32(vzero512.GetLower().AsInt32(), vcoeff<#=mvm1#>, 2);
<#                  break;
                case 3:#>
                var v0TempLoad3 = Vector128.CreateScalarUnsafe(Unsafe.As<int, ulong>(ref c)).AsUInt32();
                var v1TempLoad3 = Vector128.CreateScalarUnsafe((uint)Unsafe.Add(ref c, <#=item.Order - 1#>));
                v0TempLoad3 = Sse.Shuffle(v0TempLoad3.AsSingle(), v1TempLoad3.AsSingle(), 0b11_00_01_00).AsUInt32();
                var vcoeff<#=mvm1#> = Avx2.ConvertToVector256Int64(v0TempLoad3).AsInt32();
<#                  break;
                case 4:#>
                var vcoeff<#=mvm1#> = Avx2.ConvertToVector256Int64(Unsafe.As<int, Vector128<uint>>(ref Unsafe.Add(ref c, <#=item.Order - 4#>))).AsInt32();
<#                  break;
                case > 4 when item.Order >= 8:#>
                var vcoeff<#=mvm1#> = Avx512F.ConvertToVector512UInt64(Avx512F.VL.AlignRight32(vzero512.GetLower().AsUInt32(), Unsafe.As<int, Vector256<uint>>(ref Unsafe.Add(ref c, <#=item.Order - 8#>)), <#=8 - orderM8#>)).AsInt32();
<#                  break;
                case > 4:
                    var overlap = item.Order - 4;
                #>
                var v2TempLoadM = Vector256<int>.Indices - Vector256.Create(<#=orderM8#> - 4);
                var v1TempLoadM = Unsafe.As<int, Vector128<int>>(ref Unsafe.Add(ref c, Order - 4)).ToVector256Unsafe();
                var v0TempLoadM = Unsafe.As<int, Vector128<int>>(ref Unsafe.Add(ref c, <#=scalarOrder#>)).ToVector256Unsafe();
                v1TempLoadM = Avx2.PermuteVar8x32(v1TempLoadM, v2TempLoadM);
                v0TempLoadM = Avx.Blend(v0TempLoadM.AsDouble(), v1TempLoadM.AsDouble(), 0b1100).AsInt32();
                var vcoeff<#=mvm1#> = Avx512F.ConvertToVector512UInt64(v0TempLoadM.AsUInt32()).AsInt32();
<#                  break;
                default:
                    break;
            }#>
                long nlast = 0;
                var vlast = Vector512.Create(Unsafe.Add(ref o, 0));
                vsum<#=mvm1#> = <#=lastMultiplyInstruction#>(vcoeff<#=mvm1#>, vlast<#=lastMultiplyVLastSuffix#>)<#=lastMultiplyInstructionSuffix#>;
                var sum2 = vsum0.GetElement(0);
                for (var i = 1; i < Order; i++)
                {
                    nlast = Unsafe.Add(ref o, i);
                    vlast = Vector512.Create(nlast).AsInt32();
                    sum0 = sum1 + nlast * coeff0;
                    sum1 = sum2 + nlast * coeff1;
<#          for (j = 0; j < maxVs; j++)
            {
                if (j + 1 < maxVs)
                {#>
                    prod = Avx512F.Multiply(vcoeff<#=j#>, vlast);
                    vsum<#=j#> = Avx512F.AlignRight64(vsum<#=j + 1#>, vsum<#=j#>, 1);
<#              }
                else
                {#>
                    prod = <#=lastMultiplyInstruction#>(vcoeff<#=mvm1#>, vlast<#=lastMultiplyVLastSuffix#>)<#=lastMultiplyInstructionSuffix#>;
                    vsum<#=j#> = Avx512F.AlignRight64(vzero512, vsum<#=j#>, 1);
<#              }#>
                    vsum<#=j#> += prod;
<#              if (j == 0)
                {#>
                    sum2 = vsum0.GetElement(0);
<#              }
            }#>
                }
                var rax = sum0 >> shiftsNeeded;
                for (nint i = 0; i < dataLength; i++)
                {
                    var res = Unsafe.Add(ref d, i);
                    rax += res;
                    nlast = rax;
                    Unsafe.Add(ref d, i) = (int)rax;
                    vlast = Vector512.Create(nlast).AsInt32();
                    sum0 = sum1 + nlast * coeff0;
                    rax = sum0 >> shiftsNeeded;
                    sum1 = sum2 + nlast * coeff1;
<#          for (j = 0; j < maxVs; j++)
            {
                if (j + 1 < maxVs)
                {#>
                    prod = Avx512F.Multiply(vcoeff<#=j#>, vlast);
                    vsum<#=j#> = Avx512F.AlignRight64(vsum<#=j + 1#>, vsum<#=j#>, 1);
<#              }
                else
                {#>
                    prod = <#=lastMultiplyInstruction#>(vcoeff<#=mvm1#>, vlast<#=lastMultiplyVLastSuffix#>)<#=lastMultiplyInstructionSuffix#>;
                    vsum<#=j#> = Avx512F.AlignRight64(vzero512, vsum<#=j#>, 1);
<#              }#>
                    vsum<#=j#> += prod;
<#              if (j == 0)
                {#>
                    sum2 = vsum0.GetElement(0);
<#              }
            }
#>
                }
            }
<#      }

        if (item.generate64Alt)
        {
            // Variant optimized for lower-order LPC restore calculation, that uses Avx2 for calculations, and Avx512F.VL for permutations.
            var scalarOrder = 2;
            var vectorizedOrder = item.Order - scalarOrder;
            var orderO4 = vectorizedOrder / 4;
            var orderM4 = vectorizedOrder % 4;
            var maxVs = orderO4 + (orderM4 > 0 ? 1 : 0);
#>

            [MethodImpl(MethodImplOptions.AggressiveOptimization)]
            internal static unsafe void RestoreSignal64AltAvx512FVLOrder<#=item.Order#>(in RestoreParameters parameters)
            {
                const int Order = <#=item.Order#>;
                var coeffs = parameters.Coefficients;
                ArgumentOutOfRangeException.ThrowIfLessThan(coeffs.Length, Order);
                ref var c = ref MemoryMarshal.GetReference(coeffs);
                _ = coeffs[Order - 1];
                var shiftsNeeded = parameters.ShiftsNeeded;
                var output = parameters.Output;
                ref var o = ref MemoryMarshal.GetReference(output);
                ref var d = ref Unsafe.Add(ref o, Order);

                var vshift = Vector128.CreateScalar((ulong)shiftsNeeded);
                var vzero = Vector128<long>.Zero;
                var vzero256 = vzero.ToVector256Unsafe();
                long sum0 = 0, sum1 = 0;
                Vector256<long> <#=string.Join(", ", Enumerable.Range(0, maxVs).Select(a=>$"vsum{a} = default"))#>;
                int dataLength = output.Length - Order;
                Vector256<long> prod = default;
<#      
            var mvm1 = maxVs - 1;
            for (j = 0; j < scalarOrder; j++)
            {
#>
                long coeff<#=j#> = Unsafe.Add(ref c, <#=j#>);
<#          }
            for (j = 0; j < orderO4; j++)
            {
#>
                var vcoeff<#=j#> = Avx2.ConvertToVector256Int64(Unsafe.As<int, Vector128<uint>>(ref Unsafe.Add(ref c, <#=j * 4 + scalarOrder#>))).AsInt32();
<#
            }
            switch (orderM4)
            {
                case 1:#>
                var vcoeff<#=mvm1#> = Vector256.CreateScalarUnsafe((ulong)(uint)Unsafe.Add(ref c, <#=item.Order - 1#>)).AsInt32();
<#                  break;
                case 2:#>
                var vcoeff<#=mvm1#> = Sse41.ConvertToVector128Int64(Vector128.CreateScalarUnsafe(Unsafe.As<int, ulong>(ref Unsafe.Add(ref c, <#=item.Order - 2#>))).AsUInt32()).ToVector256Unsafe().AsInt32();
<#                  break;
                case 3 when item.Order >= 4:#>
                var vcoeff<#=mvm1#> = Avx2.ConvertToVector256Int64(Unsafe.As<int, Vector128<uint>>(ref Unsafe.Add(ref c, <#=item.Order - 4#>))).AsInt32();
                vcoeff<#=mvm1#> = Avx512F.VL.AlignRight32(vzero256.AsInt32(), vcoeff<#=mvm1#>, 2);
<#                  break;
                case 3:#>
                var v0TempLoad3 = Vector128.CreateScalarUnsafe(Unsafe.As<int, ulong>(ref c)).AsUInt32();
                var v1TempLoad3 = Vector128.CreateScalarUnsafe((uint)Unsafe.Add(ref c, <#=item.Order - 1#>));
                v0TempLoad3 = Sse.Shuffle(v0TempLoad3.AsSingle(), v1TempLoad3.AsSingle(), 0b11_00_01_00).AsUInt32();
                var vcoeff<#=mvm1#> = Avx2.ConvertToVector256Int64(v0TempLoad3).AsInt32();
<#                  break;
                default:
                    break;
            }
#>
                long nlast = 0;
                var vlast = Vector256.Create(Unsafe.Add(ref o, 0));
                vsum<#=mvm1#> = Avx2.Multiply(vcoeff<#=mvm1#>, vlast);
                var sum2 = vsum0.GetElement(0);
                for (var i = 1; i < Order; i++)
                {
                    nlast = Unsafe.Add(ref o, i);
                    vlast = Vector256.Create(nlast).AsInt32();
                    sum0 = sum1 + nlast * coeff0;
                    sum1 = sum2 + nlast * coeff1;
<#          for (j = 0; j < maxVs; j++)
            {
#>
                    prod = Avx2.Multiply(vcoeff<#=j#>, vlast);
<#              if (j + 1 < maxVs)
                {#>
                    vsum<#=j#> = Avx512F.VL.AlignRight64(vsum<#=j + 1#>, vsum<#=j#>, 1);
<#              }
                else
                {#>
                    vsum<#=j#> = Avx512F.VL.AlignRight64(vzero256, vsum<#=j#>, 1);
<#              }#>
                    vsum<#=j#> += prod;
<#              if (j == 0)
                {#>
                    sum2 = vsum0.GetElement(0);
<#              }
            }#>
                }
                var rax = sum0 >> shiftsNeeded;
                for (nint i = 0; i < dataLength; i++)
                {
                    var res = Unsafe.Add(ref d, i);
                    rax += res;
                    nlast = rax;
                    Unsafe.Add(ref d, i) = (int)rax;
                    vlast = Vector256.Create(nlast).AsInt32();
                    sum0 = sum1 + nlast * coeff0;
                    rax = sum0 >> shiftsNeeded;
                    sum1 = sum2 + nlast * coeff1;
<#          for (j = 0; j < maxVs; j++)
            {#>
                    prod = Avx2.Multiply(vcoeff<#=j#>, vlast);
<#              if (j + 1 < maxVs)
                {#>
                    vsum<#=j#> = Avx512F.VL.AlignRight64(vsum<#=j + 1#>, vsum<#=j#>, 1);
<#              }
                else
                {#>
                    vsum<#=j#> = Avx512F.VL.AlignRight64(vzero256, vsum<#=j#>, 1);
<#              }#>
                    vsum<#=j#> += prod;
<#              if (j == 0)
                {#>
                    sum2 = vsum0.GetElement(0);
<#              }
            }
#>
                }
            }
<#      }
    }#>
        }
    }
}